<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>

<body>
    <%- include('partials/nav') %>

    <div class="container mt-3">
        <div class="row">
            <div class="col-12">

                <div class="card mb-3">
                    <div class="row">
                        <div class="col-4">
                            <img class="img-fluid p-2" src="/images/<%= product.imageUrl %>" alt="">
                        </div>
                        <div class="col-8">
                            <div class="card-body">
                                <h5 class="card-title"><%= product.name %></h5>
                                <p class="card-text"><%= product.price %></p>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis tempore, error
                                    pariatur fugit cumque aperiam praesentium vero dolorum. Laboriosam ut quos deleniti
                                    nisi ipsam iure magnam commodi dignissimos repellendus sunt.</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>

</html>