<div class="card mb-3">
    <div class="row">
        <div class="col-4">
            <img class="img-fluid p-2" src="/images/<%= imageUrl %>" alt="">
        </div>
        <div class="col-8">
            <div class="card-body">
                <h3 class="card-title"><%= name %></h3>
                <p class="card-text"><%= price %></p>
                <a href="/products/<%= id %>">Details</a>
            </div>
        </div>
    </div>
</div>